<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'icons/fontawesome/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'icons/fontawesome/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'icons/fontawesome/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Register User</title>
</head>
<body>
    <div class="text-center">
        <h3> Register user</h3>
    </div>

    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username"><i class="fa-solid fa-user fa-lg"></i></label>
                <div class="form-group col-md-8 mx-5">
                    {{ form.username }}
                </div>
                <label for="email"><i class="fa-regular fa-envelope fa-lg"></i></label>
                <div class="form-group col-md-8 mx-5">
                    {{ form.email }}  
                </div>
            </div>
                <label for="password"><i class="fa-solid fa-lock fa-lg"></i></label>
                <div class="form-group col-md-8 mx-5">    
                    {{ form.password1 }}
                </div>
                <label for="password2"><i class="fa-solid fa-lock fa-lg"></i></label>
                <div class="form-group col-md-8 mx-5">
                    {{ form.password2 }}
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block mx-5 btn-sm">Register</button>
                <a class="fs-1" href="{% url 'login' %}">already have an account?</a>
                <br>
                <br>
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endif %}

                {% if form.errors %}
                <div class="alert alert-danger">
                    {{form.errors}}
                </div>
                {% endif %}
            </div>
        </form>

    </div>
</form>
    


    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>