<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'icons/fontawesome/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'icons/fontawesome/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'icons/fontawesome/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <title>Change password</title>
</head>
<body>
	<div class="text-center">
		<h1>Change password</h1>
	</div>
	<div class="container">
		<form action="{% url 'changepassword' %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
						<div class="form-group col-md-8 mx-5 ">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1"><label for="password1"><i class="fa-solid fa-lock fa-lg"></i></label></span>
								</div>
								<input class="form-control" type="text" name="password1" id="password1" placeholder="New password">
						</div>

							<div class="input-group mb-3">
								<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1"><label for="password2"><i class="fa-solid fa-lock fa-lg"></i></label></span>
								</div>
								<input class="form-control" type="password" name="password2" id="password2" placeholder=" Repeat Password">  
								<br>
								
							</div>
							<button type="submit" class="btn btn-primary mx-5">Reset</button>
						<br>
				</div>
		</form>
	</div>
	<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>