* {
    padding: 0;
    margin: 0;
}


.container {
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 50px;
}


body {
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.container {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 360px;
}


.form-group {
    max-height: 400px;

}

.text-center {
    padding-top: 30px;
    padding-bottom: 40px;
}

i {
    margin-left: 10px;
    display:inline;
}

